
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Are you sure to perform this operation ?</h1>

<form asp-action="Delete" method="post">
    <div class="col-md-12">
        <div class="col-md-6 row text-center">
            <div class="col-md-3">
                <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
            </div>
            <div class="col-md-3">
                <a asp-action="Index" class="btn btn-link">Go Back</a>
            </div>
        </div>
    </div>
</form>