@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle">
                        <i class="nav-icon icon-puzzle"></i> Postal Codes
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="PostalCode">
                                List of Postal Codes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Create" asp-controller="PostalCode">
                                Create new Postal Code
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Search" asp-controller="PostalCode">
                                Search Postal Codes
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
}