@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" style="cursor: pointer;">
                        <i class="nav-icon icon-envelope-letter"></i> Postal Codes
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="PostalCode">
                                <i class="nav-icon icon-list"></i> List of Postal Codes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Create" asp-controller="PostalCode">
                                <i class="nav-icon icon-note"></i> Add Postal Code
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Search" asp-controller="PostalCode">
                                <i class="nav-icon icon-magnifier"></i> Search Postal Codes
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" style="cursor: pointer;">
                        <i class="nav-icon icon-layers"></i> Processes
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Process" asp-action="Configure">
                                <i class="nav-icon icon-plus"></i> Create Process
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Process" asp-action="Index">
                                <i class="nav-icon icon-list"></i> Processes List
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link" style="cursor: pointer;" href="~/hangfire">
                        <i class="nav-icon icon-fire"></i> Hangfire
                    </a>
                </li>
            </ul>

        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
}