################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RightMove/v15
/Data/bin/Debug/netcoreapp2.2
/Data/obj
/RightMove/bin/Debug/netcoreapp2.2
/RightMove/obj
/RightMoveWeb/obj
/Services/obj
/Services/bin/Debug/netcoreapp2.2
/.vs/RightMove/v16/Server/sqlite3/storage.ide-wal
/.vs/RightMove/v16/Server/sqlite3/storage.ide-shm
/.vs/RightMove/v16/Server/sqlite3/storage.ide
/.vs/RightMove/v16/Server/sqlite3/db.lock
/.vs/RightMove/v16/.suo
/.vs/RightMove/DesignTimeBuild/.dtbcache
/.vs/RightMove/config/applicationhost.config
/RightMoveWeb/RightMoveWeb.csproj.user
/RightMoveWeb/ScaffoldingReadme.txt
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.Views.pdb
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.Views.dll
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.runtimeconfig.json
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.runtimeconfig.dev.json
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.pdb
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.dll
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMoveWeb.deps.json
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMove.Data.pdb
/RightMoveWeb/bin/Debug/netcoreapp2.2/RightMove.Data.dll
/.vs/config/applicationhost.config
/RightMoveWeb/bin/Debug/netcoreapp2.2
/Data/bin/Debug
/.vs/PropertyCrawler/v15
/PropertyCrawler/bin/Debug/netcoreapp2.2
/PropertyCrawler/obj/Debug/netcoreapp2.2
/PropertyCrawler/obj
/PropertyCrawlerWeb/bin/Debug/netcoreapp2.2
/PropertyCrawlerWeb/obj
/PropertyCrawler/PropertyCrawler.csproj.user
/.vs/PropertyCrawler/config/applicationhost.config
/.vs/PropertyCrawler/v16/.suo
/.vs/PropertyCrawler/v16/Server/sqlite3/storage.ide
/.vs/PropertyCrawler/v16/Server/sqlite3/db.lock
/.vs/PropertyCrawler/v16/Server/sqlite3/storage.ide-wal
/.vs/PropertyCrawler/v16/Server/sqlite3/storage.ide-shm
