@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{
    <link href="~/lib/jquery-chosen/chosen.css" rel="stylesheet" />
}


<div class="card">
    <div class="card-header">
        <strong>Configure </strong>Processes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-controller="Process" asp-action="Execute">
                    <div class="col-md-12" style="float:right;">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label" for="postalCodes">Postal Codes</label>
                                <select data-placeholder="ALL if none is selected" class="form-control" name="postalCodes" id="postalCodes" multiple asp-items="@ViewBag.Postal"></select>
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="propertyType">Property Type</label>
                                <select class="form-control" name="propertyType" id="propertyType" asp-items="@ViewBag.PropertyType"></select>
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="processType">Process Type</label>
                                <select class="form-control" name="processType" id="processType" asp-items="@ViewBag.ProcessType"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label" for="portal">Portal</label>
                                <select class="form-control" name="portal" id="processType">
                                    <option>RightMove</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="ip">IP</label>
                                <input class="form-control" placeholder="Manually fill this field with the IP..." form="ip" />
                            </div>
                        </div>
                        <div class="row form-group" style="padding-top:25px;">
                            <div class="col row" style="margin-left:15px;">
                                <label class="switch switch-label switch-pill switch-outline-primary-alt" id="labelSchedule" for="schedule">
                                    <input class="switch-input" type="checkbox" name="isScheduled" value="true" id="schedule">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                                <label style="padding-left:10px;font-size:16px;">Schedule</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="scheduleInterval" id="scheduleInterval" asp-items="@ViewBag.ScheduleIntervalType">
                                    <option value="" hidden selected disabled>Select one</option>
                                </select>
                            </div>
                            <div class="col" style="text-align:right;margin-right:30px;">
                                <button class="btn btn-outline-primary px-4" type="submit" style="width:150px;">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery-chosen/chosen.jquery.min.js"></script>
    <script>
        $("#postalCodes").chosen();
    </script>
    <script>
        $(document).ready(function () {
            $('#scheduleInterval').hide();

            //$('#schedule').change(function () {
            //    if ($('input.custom-control-input').is(':checked')) {
            //        $('#scheduleInterval').show();
            //    }
            //    else {
            //        $('#scheduleInterval').hide();
            //    }
            //});
            $('#schedule').change(function () {
                if ($('input.switch-input').is(':checked')) {
                    $('#scheduleInterval').show();
                }
                else {
                    $('#scheduleInterval').hide();
                }
            });
        });

    </script>
}
